.cart-button {
  grid-area: cart;
  text-align: center;
  position: relative;

  a {
    display: block;
    font-size: 26px;
    padding-top: 8px;
    font-weight: 400;
    text-decoration: none;
    margin-top: -3px;

    svg path {
      transition: all 0.2s linear;
    }

    &:hover {
      .cart-item-count {
        color: $main-text-color-hover;
        transition: all 0.2s linear;
      }

      svg path {
        color: $main-text-color-hover;
        transition: all 0.2s linear;
      }
    }

    .cart-item-count {
      position: absolute;
      right: 5px;
      bottom: -7px;
      background-color: $main-dark-bg;
      font-size: 15px;
      font-weight: 400;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 3px;
      min-width: 20px;
      min-height: 20px;
      transition: all 0.2s linear;
      font-family: $logo-font-family;
    }
  }
}
