* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fbfbff;
}

body {
  background-color: #000624;
}

.nav-container {
  position: fixed;
  display: block;
  height: 70px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
  z-index: 9999;
}
.nav-container .navbar {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.nav-container .navbar .navbar-menu-container {
  display: grid;
  grid-template-areas: "logo access cart menu";
  grid-template-columns: 1fr 50px 50px 50px;
  width: 100vw;
  align-items: center;
  justify-self: center;
  padding: 0 15px;
  background-color: #000624;
}
@media screen and (min-width: 960px) {
  .nav-container .navbar .navbar-menu-container {
    display: grid;
    grid-template-areas: "logo menu cart access";
    grid-template-columns: 140px 1fr 50px auto;
    height: 70px;
    align-items: center;
    width: 100vw;
    padding: 0 15px;
  }
}
.nav-container .navbar .logo a {
  grid-area: logo;
  display: flex;
  align-items: center;
  cursor: pointer;
  max-width: 140px;
  flex-wrap: wrap;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}
.nav-container .navbar .logo a span {
  font-size: 20px;
  font-weight: 500;
  margin-top: 1px;
  letter-spacing: 1px;
  transition: all 0.2s linear;
  font-family: "Bitcount Grid Double", sans-serif;
}
.nav-container .navbar .logo a span:hover {
  transition: all 0.2s linear;
  color: rgb(68, 255, 68);
}
.nav-container .navbar .nav-menu {
  grid-area: menu;
}
.nav-container .navbar .nav-menu.closed {
  width: 0;
  overflow: hidden;
}
.nav-container .navbar .nav-menu.closed ul {
  width: 0;
  transition: all linear 0.2s;
  overflow: hidden;
}
@media screen and (max-width: 959px) {
  .nav-container .navbar .nav-menu {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    top: 70px;
    left: 0;
    height: 100vh;
    width: 100%;
  }
}
@media screen and (min-width: 960px) {
  .nav-container .navbar .nav-menu {
    position: relative;
    top: 0;
    width: auto;
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 959px) {
  .nav-container .navbar .nav-menu ul {
    transition: all linear 0.2s;
    display: inline-block;
    background-color: #000000;
    height: 100vh;
    width: 65%;
    max-width: 300px;
    overflow: hidden;
    z-index: 9998;
    position: absolute;
    right: 0;
    text-align: right;
  }
  .nav-container .navbar .nav-menu ul li {
    display: block;
    border-bottom: 1px solid #d8d9dc;
    cursor: pointer;
  }
  .nav-container .navbar .nav-menu ul li:first-child {
    border-top: 1px solid #d8d9dc;
  }
  .nav-container .navbar .nav-menu ul li span {
    display: inline-block;
    position: relative;
  }
}

.cart-button {
  grid-area: cart;
  text-align: center;
  position: relative;
}
.cart-button a {
  display: block;
  font-size: 26px;
  padding-top: 8px;
  font-weight: 400;
  text-decoration: none;
  margin-top: -3px;
}
.cart-button a svg path {
  transition: all 0.2s linear;
}
.cart-button a:hover .cart-item-count {
  color: rgb(68, 255, 68);
  transition: all 0.2s linear;
}
.cart-button a:hover svg path {
  color: rgb(68, 255, 68);
  transition: all 0.2s linear;
}
.cart-button a .cart-item-count {
  position: absolute;
  right: 5px;
  bottom: -7px;
  background-color: #000624;
  font-size: 15px;
  font-weight: 400;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3px;
  min-width: 20px;
  min-height: 20px;
  transition: all 0.2s linear;
  font-family: "Bitcount Grid Double", sans-serif;
}

.account-button {
  grid-area: access;
  text-align: center;
}
.account-button a {
  display: flex;
  text-decoration: none;
  background-color: rgb(68, 255, 68);
  color: #000624;
  font-size: 25px;
  margin: auto;
  font-weight: 400;
  align-items: center;
  padding: 5px 10px;
  border-radius: 50px;
  border: 1px solid rgb(68, 255, 68);
  justify-content: center;
  margin-top: -3px;
}
.account-button a span,
.account-button a path,
.account-button a circle {
  transition: all 0.2s linear;
}
.account-button a:hover {
  background-color: #000624;
}
.account-button a:hover span,
.account-button a:hover path,
.account-button a:hover circle {
  color: rgb(68, 255, 68);
}
.account-button a span {
  font-size: 17px;
  margin-left: 5px;
  font-family: "Huninn", sans-serif;
  color: #000624;
}
.account-button a path,
.account-button a circle {
  color: #000624;
}
@media screen and (max-width: 959px) {
  .account-button a {
    background-color: #000624;
    border: 0;
  }
  .account-button a path,
  .account-button a circle {
    color: #fbfbff;
  }
}

.nav-menu-btn {
  display: block;
  margin: 0 12.5px;
  grid-area: menu;
}
.nav-menu-btn:hover span {
  background-color: rgb(68, 255, 68) !important;
}/*# sourceMappingURL=index.css.map */