.logo {
  a {
    grid-area: logo;
    display: flex;
    align-items: center;
    cursor: pointer;
    max-width: 140px;
    flex-wrap: wrap;
    text-decoration: none;
    justify-content: center;
    align-items: center;

    span {
      font-size: 20px;
      font-weight: 500;
      margin-top: 1px;
      letter-spacing: 1px;
      transition: all 0.2s linear;
      font-family: $logo-font-family;

      &:hover {
        transition: all 0.2s linear;
        color: $main-text-color-hover;
      }
    }
  }
}
