.nav-container {
  position: fixed;
  display: block;
  height: 70px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  z-index: 9999;

  .navbar {
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    color: black;
    width: 100%;

    @import "./MenuContainer/menuContainer";
  }
}
